/*
 * 树目录
 * author:张渊
 * modifyTime:2015-11-19
 */
.ks-treeview-li{
	font-size:0;
	white-space: nowrap;
	margin-bottom:5px;
}
.ks-treeview-a, .ks-treeview-fold, .ks-treeview-placehd, .ks-treeview-check, .ks-treeview-node, .ks-treeview-icon{
	display:inline-block;
}
.ks-treeview-a{
	height:24px;
	line-height:24px;
	padding:0 10px;
	font-size:0;
	overflow:hidden;
}
.ks-treeview-child{
	padding-left:10px;
}
.ks-treeview-select{
	height:21px;
	border: 1px solid #FFB951;
	background-color: #FFE6B0;
	padding:0 8px;
}
.ks-treeview-fold, .ks-treeview-check, .ks-treeview-picon, .ks-treeview-cicon{
	background-image:url(../images/ui.icon1x.png);
	background-repeat:no-repeat;
}
.ks-treeview-node{
	color:#2b2b2b;
	font-size:12px;
	font-weight:100;
	vertical-align:middle;
	cursor:pointer;
}
.ks-treeview-fold, .ks-treeview-placehd, .ks-treeview-check, .ks-treeview-icon{
	width:16px;
	height:16px;
	vertical-align:middle;
}
.ks-treeview-fold, .ks-treeview-placehd{
	margin-right:5px;
}
.ks-treeview-fold{
	background-position:-184px -64px;
}
.ks-treeview-fold-open{
	background-position:-184px -46px;
}
.ks-treeview-check{
	background-position:-131px -64px;
}
.ks-treeview-half-checked{
	background-position:-170px -64px;
}
.ks-treeview-checked{
	background-position:-152px -64px;
}
.ks-treeview-icon{
	margin-left:3px;
	margin-right:5px;
}
.ks-treeview-picon{
	background-position:-132px -46px;
}
.ks-treeview-picon-open{
	background-position:-150px -46px;
}
.ks-treeview-cicon{
	background-position:-170px -46px;
}
.ks-treeview-loading{
	background:url(../images/ui.loader1.gif) no-repeat;
}
.ks-treeview-disable .ks-treeview-node{
	color:#ccc;
}
.ks-treeview-disable .ks-treeview-check, .ks-treeview-disable .ks-treeview-node, .ks-treeview-fold, .ks-treeview-icon{
	cursor:default;
}