/*
 * 分页
 * author:张渊
 * modifyTime:2015-12-14
 */
.ks-paging{
	height:1%;
	color:#ccc;
	overflow:hidden;
}
.ks-paging a, .ks-paging span{
	float:left;
	display:block;
	height: 27px;
	line-height:27px;
	margin-right:5px;
	padding: 0 12px;
	background-color:#f5f5f5;
}
.ks-paging a, .ks-paging a:visited{
	color: #999;
}
.ks-paging .current, .ks-paging a:hover{
	background-color: #018ce2;
	color:#fff;
}
.ks-paging .prev, .ks-paging .next{
	text-align:center;
}
/*带圆角的分页*/
.ks-radius-page{
	padding-left: 1px;
}
.ks-radius-page a, .ks-radius-page span{
	height: 27px;
	line-height:27px;
	margin-left: -1px;
	margin-right: 0;
	background-color:#fff;
	border: 1px solid #f5f5f5;
}
.ks-paging .current, .ks-paging a:hover{
	background-color: #f7f7f7;
	color:#018ce2;
}
.ks-radius-page .prev{
	border-top-left-radius:5px; 
	border-bottom-left-radius:5px; 
}
.ks-radius-page .next{
	border-top-right-radius:5px; 
	border-bottom-right-radius:5px; 
}
/*居中、居右显示分页*/
.ks-paging-rg .ks-paging{
	float:right;
}
.ks-paging-cen, .ks-paging-cen .ks-paging {
	position:relative;
	float: left;
}
.ks-paging-cen{
	left: 50%;
}
.ks-paging-cen .ks-paging{
	left: -50%;
}