/*
 * 页面
 * author:张渊
 * modifyTime:2016-1-6
 */
/*社交示例*/
.ks-social-box{
	color: #676a6c;
	border: 1px solid #e7eaec;
	background-color: #fff;
	margin-bottom: 15px;
}
.ks-social-box a, .ks-social-box a:visited{
	color: #337ab7;
}
.ks-social-box a:hover{
	color: #23527c;
}
.ks-social-box .user-info{
	height: 40px;
	padding: 15px 15px 0;
	overflow: hidden;
}
.ks-social-box .user-info dt, .ks-social-separated .user-img{
	float: left;
}
.ks-social-box .user-img, .ks-social-separated .user-img{
	display: block;
	width: 40px;
	height: 40px;
}
.ks-social-box .user-info dd{
	margin-left:50px;
}
.ks-social-box .user-info a{
	font-size: 13px;
}
.ks-social-box .user-info dd p, .ks-social-box .comment-more{
	color:#c5c5c5;
}
.ks-social-box .message-con{
	padding: 0 15px;
	margin: 10px 0; 
}
.ks-social-box .text-box{
	line-height: 18px;
	margin-bottom: 10px;
}
.ks-social-box .btn-group{
	padding: 0 15px 15px;
	border-bottom: 1px solid #e7eaec;
}
.ks-social-box .message-con-img{
	display: block;
	max-width: 100%;
}
.ks-social-box .ks-button-input{
	columns: #8c8c8c;
}
.ks-social-box .ks-button-icon-i, .ks-social-box .praise-num i{
	width: 13px;
	height: 13px;
	background-image:url(../images/ui.icon1x.png);
	background-repeat:no-repeat;
}
.ks-social-box .praise-icon{
	background-position: -73px -130px;
} 
.ks-social-box .comment-icon{
	background-position: -104px -130px;
}
.ks-social-box .share-icon{
	background-position: -120px -130px;
}
.ks-social-box .comment{
	padding: 10px 15px;
	background-color: #f9f9f9;
}
.ks-social-box .replay-comment{
	padding: 10px 0 10px 40px;
}
.ks-social-box .comment li{
	margin-bottom: 15px;
}
.ks-social-box .comment li.last, .ks-social-box .comment .text-box{
	margin-bottom: 0;
}
.ks-social-box .head-portrait{
	float: left;
	display: block;
	width: 32px;
	height: 32px;
}
.ks-social-box .comment-detail{
	margin-left: 42px;
}
.ks-social-box .praise-num{
	color: #337ab7;
	font-weight: 100;
}
.ks-social-box .praise-num i{
	display: inline-block;
	vertical-align: middle;
	background-position: -88px -130px;
}
.ks-social-separated .ks-poplayer{
	position: relative;
	margin-left: 55px;
	box-shadow: none;
}
.ks-social-separated i.ks-poplayer-arrow{
	top: 20px;
}
.ks-social-separated .ks-poplayer-content{
	padding: 0;
}
.ks-social-separated .ks-social-box{
	border: 0;
	margin-bottom: 0;
}
.ks-social-separated .user-info dd{
	margin-left: 0;
}