<h2>按钮</h2>
<div class="de-catalog">
    <div class="de-catalog-title"><h3>目录</h3></div>
    <div class="de-toc-bd">
        <ul class="de-toc">
        	<li class="de-catalog-header"><a href="#css">CSS样式包</a></li>
            <li class="de-catalog-header"><a href="#base">基础样式</a></li>
            <li class="de-catalog-header"><a href="#color">色彩修饰</a></li>
            <li class="de-catalog-header"><a href="#size">尺寸修饰</a></li>
            <li class="de-catalog-header"><a href="#full">满屏按钮</a></li>
            <li class="de-catalog-header"><a href="#group">按钮组</a></li>
            <li class="de-catalog-header"><a href="#dropdown">带下拉菜单的按钮组</a></li>
        </ul>
    </div>
</div>
<a id="css"></a>
<div class="de-title">CSS样式包</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;!--kissui.btn.css--&gt;</code></pre>
</div>
<a id="base"></a>
<div class="de-title">基础样式</div>
<div class="de-subtitle">实例</div>
<div class="de-demo-wrap">
	 <div class="ks-button-wrap">
    	<a href="#" class="ks-button-a">Link</a>
    	<button class="ks-button-input" type="button">Button</button>
      <button class="ks-button-input" type="button" disabled>Button</button>
    </div>
</div>
<div class="de-subtitle">代码</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;div class="ks-button-wrap"&gt;
        &lt;a href="#" class="ks-button-a"&gt;Link&lt;/a&gt;
        &lt;button class="ks-button-input" type="button"&gt;Button&lt;/button&gt;
        &lt;button class="ks-button-input" type="button" disabled="disabled"&gt;Button&lt;/button&gt;
&lt;/div&gt;</code></pre>
</div>
<a id="color"></a>
<div class="de-title">色彩修饰</div>
<div class="de-subtitle">实例</div>
<div class="de-demo-wrap">
	 <div class="ks-button-wrap">
        <a href="#" class="ks-button-a ks-button-primary">Link</a>
        <button type="button" class="ks-button-input ks-button-primary">Button</button>
        <a href="#" class="ks-button-a ks-button-success">Link</a>
        <button type="button" class="ks-button-input ks-button-success">Button</button>
        <a href="#" class="ks-button-a ks-button-danger">Link</a>
        <button type="button" class="ks-button-input ks-button-danger">Button</button>
        <a href="#" class="ks-button-a ks-button-link">Link</a>
    </div>
</div>
<div class="de-subtitle">代码</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;div class="ks-button-wrap">
	&lt;a href="#" class="ks-button-a ks-button-primary"&gt;Link&lt;/a&gt;
	&lt;button type="button" class="ks-button-input ks-button-primary"&gt;Button&lt;/button&gt;
	&lt;a href="#" class="ks-button-a ks-button-success"&gt;Link&lt;/a>
	&lt;button type="button" class="ks-button-input ks-button-success"&gt;Button&lt;/button&gt;
	&lt;a href="#" class="ks-button-a ks-button-danger"&gt;Link&lt;/a&gt;
	&lt;button type="button" class="ks-button-input ks-button-danger"&gt;Button&lt;/button&gt;
	&lt;a href="#" class="ks-button-a ks-button-link"&gt;Link&lt;/a&gt;
&lt;/div&gt;</code></pre>
</div>
<a id="size"></a>
<div class="de-title">尺寸修饰</div>
<div class="de-subtitle">实例</div>
<div class="de-demo-wrap">
	 <div class="ks-button-wrap ks-button-mini" style="margin-bottom:10px;">
        <a href="#" class="ks-button-a ks-button-primary">Link</a>
        <button type="button" class="ks-button-input ks-button-primary">Button</button>
        <a href="#" class="ks-button-a ks-button-success">Link</a>
        <button type="button" class="ks-button-input ks-button-success">Button</button>
        <a href="#" class="ks-button-a ks-button-danger">Link</a>
        <button type="button" class="ks-button-input ks-button-danger">Button</button>
        <a href="#" class="ks-button-a ks-button-link">Link</a>
    </div>
    <div class="ks-button-wrap ks-button-small" style="margin-bottom:10px;">
        <a href="#" class="ks-button-a ks-button-primary">Link</a>
        <button type="button" class="ks-button-input ks-button-primary">Button</button>
        <a href="#" class="ks-button-a ks-button-success">Link</a>
        <button type="button" class="ks-button-input ks-button-success">Button</button>
        <a href="#" class="ks-button-a ks-button-danger">Link</a>
        <button type="button" class="ks-button-input ks-button-danger">Button</button>
        <a href="#" class="ks-button-a ks-button-link">Link</a>
    </div>
    <div class="ks-button-wrap ks-button-large" style="margin-bottom:10px;">
        <a href="#" class="ks-button-a ks-button-primary">Link</a>
        <button type="button" class="ks-button-input ks-button-primary">Button</button>
        <a href="#" class="ks-button-a ks-button-success">Link</a>
        <button type="button" class="ks-button-input ks-button-success">Button</button>
        <a href="#" class="ks-button-a ks-button-danger">Link</a>
        <button type="button" class="ks-button-input ks-button-danger">Button</button>
        <a href="#" class="ks-button-a ks-button-link">Link</a>
    </div>
</div>
<div class="de-subtitle">代码</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;div class="ks-button-wrap ks-button-mini"&gt;...&lt;/div&gt;
&lt;div class="ks-button-wrap ks-button-small"&gt;...&lt;/div&gt;
&lt;div class="ks-button-wrap ks-button-large"&gt;...&lt;/div&gt;</code></pre>
</div>
<a id="full"></a>
<div class="de-title">满屏按钮</div>
<div class="de-subtitle">实例</div>
<div class="de-demo-wrap">
	<div class="ks-button-wrap ks-button-full">
    	<a href="#" class="ks-button-a ks-button-primary">Link</a>
        <a href="#" class="ks-button-a ks-button-success">Link</a>
    </div> 
</div>
<div class="de-subtitle">代码</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;div class="ks-button-wrap ks-button-full"&gt;...&lt;/div&gt;</code></pre>
</div>
<a id="group"></a>
<div class="de-title">按钮组</div>
<div class="de-subtitle">实例</div>
<div class="de-demo-wrap">
	<div class="ks-button-wrap ks-button-group">
    	<a href="#" class="ks-button-a ks-button-group-first ks-button-primary">Link</a>
    	<button class="ks-button-input ks-button-primary" type="button">Button</button>
        <button class="ks-button-input ks-button-group-last ks-button-primary" type="button">Button</button>
    </div>
</div>
<div class="de-subtitle">代码</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;div class="ks-button-wrap ks-button-group"&gt;...&lt;/div&gt;</code></pre>
</div>
<a id="dropdown"></a>
<div class="de-title">带下拉菜单的按钮组</div>
<div class="de-subtitle">实例</div>
<div class="de-demo-wrap">
	<div id="dropdown2" type="ks-dropdown" class="ks-button-wrap ks-button-dropdown ks-button-mini" data-target-obj="#dropdown2" data-layer="#dropdown2 .ks-dropdown" data-width="200" data-location="top-left" data-trigger-mode="mousedown">
      <a href="javascript:void(0);" class="ks-button-a">
          <strong class="ks-btn-dp-strong">Link</strong>
          <i class="ks-btn-dp-arr-i"></i>
      </a>
      <div class="ks-dropdown">
        <ul>
            <li class="ks-dropdown-item"><a href="#">Item</a></li>
            <li class="ks-dropdown-item"><a href="#">Another item</a></li>
            <li class="ks-dropdown-item"><strong class="ks-dropdown-disable">Header</strong></li>
            <li class="ks-dropdown-item"><a href="#">Item</a></li>
            <li class="ks-dropdown-item"><a href="#">Another item</a></li>
            <li class="ks-dropdown-line"></li>
            <li class="ks-dropdown-item"><a href="#">Separated item</a></li>
        </ul>
    </div>
  </div>
  <div class="ks-button-wrap ks-button-dropdown" id="dropdown3" type="ks-dropdown" data-target-obj="#dropdown3" data-layer="#dropdown3 .ks-dropdown" data-width="200" data-location="top-right">
      <a href="#" class="ks-button-a ks-button-primary">
          <strong class="ks-btn-dp-strong">Link</strong>
          <i class="ks-btn-dp-arr-i"></i>
      </a>
      <div class="ks-dropdown">
        <ul>
            <li class="ks-dropdown-item"><a href="#">Item</a></li>
            <li class="ks-dropdown-item"><a href="#">Another item</a></li>
            <li class="ks-dropdown-item"><strong class="ks-dropdown-disable">Header</strong></li>
            <li class="ks-dropdown-item"><a href="#">Item</a></li>
            <li class="ks-dropdown-item"><a href="#">Another item</a></li>
            <li class="ks-dropdown-line"></li>
            <li class="ks-dropdown-item"><a href="#">Separated item</a></li>
        </ul>
    </div>
  </div>
  <div class="ks-button-wrap ks-button-dropdown ks-button-small" id="dropdown4" type="ks-dropdown" data-target-obj="#dropdown4" data-layer="#dropdown4 .ks-dropdown" data-width="200" data-location="bottom">
      <a href="#" class="ks-button-a ks-button-success">
          <strong class="ks-btn-dp-strong">Link</strong>
          <i class="ks-btn-dp-arr-i"></i>
      </a>
      <div class="ks-dropdown">
        <ul>
            <li class="ks-dropdown-item"><a href="#">Item</a></li>
            <li class="ks-dropdown-item"><a href="#">Another item</a></li>
            <li class="ks-dropdown-item"><strong class="ks-dropdown-disable">Header</strong></li>
            <li class="ks-dropdown-item"><a href="#">Item</a></li>
            <li class="ks-dropdown-item"><a href="#">Another item</a></li>
            <li class="ks-dropdown-line"></li>
            <li class="ks-dropdown-item"><a href="#">Separated item</a></li>
        </ul>
    </div>
  </div>
  <div class="ks-button-wrap ks-button-dropdown ks-button-large" id="dropdown5" type="ks-dropdown" data-target-obj="#dropdown5" data-layer="#dropdown5 .ks-dropdown" data-width="200" data-location="bottom-right">
      <a href="#" class="ks-button-a ks-button-danger">
          <strong class="ks-btn-dp-strong">Link</strong>
          <i class="ks-btn-dp-arr-i"></i>
      </a>
      <div class="ks-dropdown">
        <ul>
            <li class="ks-dropdown-item"><a href="#">Item</a></li>
            <li class="ks-dropdown-item"><a href="#">Another item</a></li>
            <li class="ks-dropdown-item"><strong class="ks-dropdown-disable">Header</strong></li>
            <li class="ks-dropdown-item"><a href="#">Item</a></li>
            <li class="ks-dropdown-item"><a href="#">Another item</a></li>
            <li class="ks-dropdown-line"></li>
            <li class="ks-dropdown-item"><a href="#">Separated item</a></li>
        </ul>
    </div>
  </div>
  <div class="ks-clear-fl"></div>   
</div>
<div class="de-subtitle">代码</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;div id="dropdown" type="ks-dropdown" class="ks-button-wrap ks-button-dropdown" data-target-obj="#dropdown" data-layer="#dropdown .ks-dropdown" data-width="200" data-location="bottom-left" data-trigger-mode="mousedown"&gt;
&lt;a href="#" class="ks-button-a"&gt;
            &lt;strong class="ks-btn-dp-strong"&gt;Link&lt;/strong&gt;
            &lt;i class="ks-btn-dp-arr-i"&gt;&lt;/i&gt;
        &lt;/a&gt;
        &lt;div class="ks-dropdown"&gt;
          &lt;ul&gt;
              &lt;li class="ks-dropdown-item"&gt;&lt;a href="#"&gt;Item&lt;/a&gt;&lt;/li&gt;
              &lt;li class="ks-dropdown-item"&gt;&lt;a href="#"&gt;Another item&lt;/a&gt;&lt;/li&gt;
              &lt;li class="ks-dropdown-item"&gt;&lt;strong class="ks-dropdown-disable"&gt;Header&lt;/strong&gt;&lt;/li&gt;
              &lt;li class="ks-dropdown-item"&gt;&lt;a href="#"&gt;Item&lt;/a&gt;&lt;/li&gt;
              &lt;li class="ks-dropdown-item"&gt;&lt;a href="#"&gt;Another item&lt;/a&gt;&lt;/li&gt;
              &lt;li class="ks-dropdown-line"&gt;&lt;/li&gt;
              &lt;li class="ks-dropdown-item"&gt;&lt;a href="#"&gt;Separated item&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;</code></pre>
</div>
<div class="de-demo-explain"><span>其他</span> 如要详细了解下拉菜单的配置使用，请直接查看<a href="demo.php?menu=demo&page=poplayer">弹出层</a>的相关说明！！！</div>
<script type="text/javascript" src="../../src/kissui.dropdown.js"></script>
<script type="text/javascript">
	$(function(){
		KRenderComp.renderDropDown();
	});
</script>