<h2>标签</h2>
<div class="de-catalog">
    <div class="de-catalog-title"><h3>目录</h3></div>
    <div class="de-toc-bd">
        <ul class="de-toc">
        	<li class="de-catalog-header"><a href="#css">CSS样式包</a></li>
          <li class="de-catalog-header"><a href="#basic">基本样式</a></li>
          <li class="de-catalog-header"><a href="#corner">圆角标签</a></li>
          <li class="de-catalog-header"><a href="#round">椭圆样式</a></li>
        </ul>
    </div>
</div>
<a id="css"></a>
<div class="de-title">CSS样式包</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;!--kissui.main.css--&gt;</code></pre>
</div>
<a id="basic"></a>
<div class="de-title">基本样式</div>
<div class="de-demo-wrap">
	 <span class="ks-label ks-label-default">默认</span>
   <span class="ks-label ks-label-primary">主要</span>
   <span class="ks-label ks-label-info">消息</span>
   <span class="ks-label ks-label-success">成功</span>
   <span class="ks-label ks-label-warning">警告</span>
   <span class="ks-label ks-label-danger">危险</span>
</div>
<a id="corner"></a>
<div class="de-title">圆角样式</div>
<div class="de-demo-wrap">
   <span class="ks-label ks-label-default ks-label-radius">默认</span>
   <span class="ks-label ks-label-primary ks-label-radius">主要</span>
   <span class="ks-label ks-label-info ks-label-radius">消息</span>
   <span class="ks-label ks-label-success ks-label-radius">成功</span>
   <span class="ks-label ks-label-warning ks-label-radius">警告</span>
   <span class="ks-label ks-label-danger ks-label-radius">危险</span>
</div>
<a id="round"></a>
<div class="de-title">椭圆样式</div>
<div class="de-demo-wrap">
   <span class="ks-label ks-label-default ks-label-round">13+</span>
   <span class="ks-label ks-label-primary ks-label-round">2</span>
   <span class="ks-label ks-label-info ks-label-round">3</span>
   <span class="ks-label ks-label-success ks-label-round">4</span>
   <span class="ks-label ks-label-warning ks-label-round">5</span>
   <span class="ks-label ks-label-danger ks-label-round">6</span>
</div>