<ul id="conLeft" class="de-content-left de-left-nav">
    <li class="de-left-nav-header">组件列表</li>
    <li><a href="demo.php?menu=demo">按钮<span class="am-nav-en">Button</span></a></li>
    <li><a href="demo.php?menu=demo&page=tooltip">工具提示<span class="am-nav-en">Tip</span></a></li>
    <li><a href="demo.php?menu=demo&page=loader">加载器<span class="am-nav-en">Page</span></a></li>
    <li><a href="demo.php?menu=demo&page=label">标签<span class="am-nav-en">Label</span></a></li>
    <li><a href="demo.php?menu=demo&page=breadcrumb">面包屑导航<span class="am-nav-en">Breadcrumb</span></a></li>
    <li><a href="demo.php?menu=demo&page=tab">选项卡<span class="am-nav-en">Tab</span></a></li>
    <li><a href="demo.php?menu=demo&page=poplayer">弹出层<span class="am-nav-en">Poplayer</span></a></li>
    <li><a href="demo.php?menu=demo&page=dilog">对话框<span class="am-nav-en">Dilog</span></a></li>
    <li><a href="demo.php?menu=demo&page=datetime">日期时间<span class="am-nav-en">DateTime</span></a></li>
    <li><a href="demo.php?menu=demo&page=page">分页<span class="am-nav-en">Page</span></a></li>
    <li><a href="demo.php?menu=demo&page=form">表单<span class="am-nav-en">Form</span></a></li>
    <li><a href="demo.php?menu=demo&page=tree">树型控件<span class="am-nav-en">Treeview</span></a></li>
</ul>