<h2>页面</h2>
<div class="de-catalog">
    <div class="de-catalog-title"><h3>目录</h3></div>
    <div class="de-toc-bd">
        <ul class="de-toc">
        	<li class="de-catalog-header"><a href="#css">CSS样式包</a></li>
          <li class="de-catalog-header"><a href="#social">社交组件</a></li>
        </ul>
    </div>
</div>
<a id="css"></a>
<div class="de-title">CSS样式包</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;!--kissui.page.css--&gt;</code></pre>
</div>
<a id="social"></a>
<div class="de-title">社交组件</div>
<div class="de-demo-wrap">
	 <div style="float:left;width:360px;">
    <!--item-->
    <div class="ks-social-box">
      <dl class="user-info">
        <dt>
          <img src="../../web/images/test/slider_img1.png" class="user-img">
        </dt>
        <dd>
          <a href="#">尤小右</a>
          <p>8月18日 16:05 来自 微博 weibo.com</p>
        </dd>
      </dl>
      <div class="message-con">
        <p class="text-box">看到说是 React 的也是醉了，他说的是 falcor... Khan Academy 是最早在生产环境里使用 React 的公司之一</p>
        <p class="text-box">【最高富帅、最受欢迎的技术——Bootsrap】众所周知，Bootstrap 是最受欢迎的 HTML、CSS 和 JS 框架，用处非常之广泛，在开发响应式布局、移动设备优先的 WEB 项目中都极其重要，极客学院的相关课程已经更新完毕，简直分分钟变身IT大师==>开始学习</p>
        <img src="../../web/images/test/4.jpg" class="message-con-img">
      </div>
      <div class="btn-group">
        <div class="ks-button-wrap ks-button-group ks-button-mini">
            <button class="ks-button-input ks-button-group-first" type="button"><i class="ks-button-icon-i praise-icon"></i> 赞</button>
            <button class="ks-button-input" type="button"><i class="ks-button-icon-i comment-icon"></i> 评论</button>
              <button class="ks-button-input ks-button-group-last" type="button"><i class="ks-button-icon-i share-icon"></i> 分享</button>
          </div>
      </div>
      <ul class="comment">
        <li>
          <img src="../../web/images/test/slider_img2.png" class="head-portrait">
          <div class="comment-detail">
            <div class="text-box">
              <a href="#">尤小右</a> jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了 
            </div>
            <div class="comment-more">
              <strong class="praise-num"><i></i> 26</strong> 
              - 8月18日
            </div>
          </div>
        </li>
        <li>
          <img src="../../web/images/test/slider_img3.png" class="head-portrait">
          <div class="comment-detail">
            <div class="text-box">
              <a href="#">尤小右</a> jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了 
            </div>
            <div class="comment-more">
              <strong class="praise-num"><i></i> 26</strong> 
              - 8月18日
            </div>
          </div>
          <ul class="comment replay-comment">
            <li>
              <img src="../../web/images/test/user.jpg" class="head-portrait">
              <div class="comment-detail">
                <div class="text-box">
                  <a href="#">尤小右</a> jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了 
                </div>
                <div class="comment-more">
                  <strong class="praise-num"><i></i> 26</strong> 
                  - 8月18日
                </div>
              </div>
            </li>
            <li>
              <img src="../../web/images/test/user2.jpg" class="head-portrait">
              <div class="comment-detail">
                <div class="text-box">
                  <a href="#">尤小右</a> jQuery的作者在Twitter上发了一条这样的推
                </div>
                <div class="comment-more">
                  <strong class="praise-num"><i></i> 26</strong> 
                  - 8月18日
                </div>
              </div>
            </li>
            <li class="last">
              <img src="../../web/images/test/slider_img2.png" class="head-portrait">
              <div class="comment-detail ks-textarea">
                      <textarea name="textarea" placeholder="填写评论..."></textarea>
                  </div>  
            </li>
          </ul>
        </li>
        <li class="last">
          <img src="../../web/images/test/slider_img2.png" class="head-portrait">
          <div class="comment-detail ks-textarea">
                  <textarea name="textarea" placeholder="填写评论..."></textarea>
              </div>  
        </li>
      </ul>
    </div>
    <!--item-->
    <!--item-->
    <div class="ks-social-box">
      <dl class="user-info">
        <dt>
          <img src="../../web/images/test/slider_img1.png" class="user-img">
        </dt>
        <dd>
          <a href="#">尤小右</a>
          <p>8月18日 16:05 来自 微博 weibo.com</p>
        </dd>
      </dl>
      <div class="message-con">
        <p class="text-box">看到说是 React 的也是醉了，他说的是 falcor... Khan Academy 是最早在生产环境里使用 React 的公司之一</p>
        <p class="text-box">【最高富帅、最受欢迎的技术——Bootsrap】众所周知，Bootstrap 是最受欢迎的 HTML、CSS 和 JS 框架，用处非常之广泛，在开发响应式布局、移动设备优先的 WEB 项目中都极其重要，极客学院的相关课程已经更新完毕，简直分分钟变身IT大师==>开始学习</p>
        <img src="../../web/images/test/4.jpg" class="message-con-img">
      </div>
      <div class="btn-group">
        <div class="ks-button-wrap ks-button-group ks-button-mini">
            <button class="ks-button-input ks-button-group-first" type="button"><i class="ks-button-icon-i praise-icon"></i> 赞</button>
            <button class="ks-button-input" type="button"><i class="ks-button-icon-i comment-icon"></i> 评论</button>
              <button class="ks-button-input ks-button-group-last" type="button"><i class="ks-button-icon-i share-icon"></i> 分享</button>
          </div>
      </div>
      <ul class="comment">
        <li>
          <img src="../../web/images/test/slider_img2.png" class="head-portrait">
          <div class="comment-detail">
            <div class="text-box">
              <a href="#">尤小右</a> jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了 
            </div>
            <div class="comment-more">
              <strong class="praise-num"><i></i> 26</strong> 
              - 8月18日
            </div>
          </div>
        </li>
        <li>
          <img src="../../web/images/test/slider_img3.png" class="head-portrait">
          <div class="comment-detail">
            <div class="text-box">
              <a href="#">尤小右</a> jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了 
            </div>
            <div class="comment-more">
              <strong class="praise-num"><i></i> 26</strong> 
              - 8月18日
            </div>
          </div>
        </li>
        <li class="last">
          <img src="../../web/images/test/slider_img2.png" class="head-portrait">
          <div class="comment-detail ks-textarea">
                  <textarea name="textarea" placeholder="填写评论..."></textarea>
              </div>  
        </li>
      </ul>
    </div>
    <!--item-->
  </div>
  <div style="float:left;width:360px;margin-left:20px;">
    <div class="ks-social-separated">
      <img src="../../web/images/test/slider_img1.png" class="user-img">
      <div class="ks-poplayer ks-position-right">
        <i class="ks-poplayer-arrow"></i>
        <div class="ks-poplayer-content">
          <div class="ks-social-box">
            <dl class="user-info">
              <dd>
                <a href="#">尤小右</a>
                <p>8月18日 16:05 来自 微博 weibo.com</p>
              </dd>
            </dl>
            <div class="message-con">
              <p class="text-box">看到说是 React 的也是醉了，他说的是 falcor... Khan Academy 是最早在生产环境里使用 React 的公司之一</p>
              <p class="text-box">【最高富帅、最受欢迎的技术——Bootsrap】众所周知，Bootstrap 是最受欢迎的 HTML、CSS 和 JS 框架，用处非常之广泛，在开发响应式布局、移动设备优先的 WEB 项目中都极其重要，极客学院的相关课程已经更新完毕，简直分分钟变身IT大师==>开始学习</p>
              <img src="../../web/images/test/4.jpg" class="message-con-img">
            </div>
            <div class="btn-group">
              <div class="ks-button-wrap ks-button-group ks-button-mini">
                  <button class="ks-button-input ks-button-group-first" type="button"><i class="ks-button-icon-i praise-icon"></i> 赞</button>
                  <button class="ks-button-input" type="button"><i class="ks-button-icon-i comment-icon"></i> 评论</button>
                    <button class="ks-button-input ks-button-group-last" type="button"><i class="ks-button-icon-i share-icon"></i> 分享</button>
                </div>
            </div>
            <ul class="comment">
              <li>
                <img src="../../web/images/test/slider_img2.png" class="head-portrait">
                <div class="comment-detail">
                  <div class="text-box">
                    <a href="#">尤小右</a> jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了 
                  </div>
                  <div class="comment-more">
                    <strong class="praise-num"><i></i> 26</strong> 
                    - 8月18日</div>
                </div>
              </li>
              <li>
                <img src="../../web/images/test/slider_img3.png" class="head-portrait">
                <div class="comment-detail">
                  <div class="text-box">
                    <a href="#">尤小右</a> jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了jQuery的作者在Twitter上发了一条这样的推，也是有点平衡了 
                  </div>
                  <div class="comment-more">
                    <strong class="praise-num"><i></i> 26</strong> 
                    - 8月18日
                  </div>
                </div>
              </li>
              <li class="last">
                <img src="../../web/images/test/slider_img2.png" class="head-portrait">
                <div class="comment-detail ks-textarea">
                        <textarea name="textarea" placeholder="填写评论..."></textarea>
                    </div>  
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <div class="ks-clear-fl"></div>
</div>