<style type="text/css">
  .icon1  {
    background:url(../../web/images/test/jingoal_newtree.png) no-repeat -5px -17px;
  }
  .icon2  {
    background:url(../../web/images/test/jingoal_newtree.png) no-repeat -27px -18px;
  }
  .icon3  {
    background:url(../../web/images/test/jingoal_newtree.png) no-repeat -68px -17px;
  }
</style>
<h2>通用面板</h2>
<div class="de-catalog">
    <div class="de-catalog-title"><h3>目录</h3></div>
    <div class="de-toc-bd">
        <ul class="de-toc">
        	<li class="de-catalog-header"><a href="#css">CSS样式包</a></li>
          <li class="de-catalog-header"><a href="#basic">基本样式</a></li>
          <li class="de-catalog-header"><a href="#scene">场景应用</a></li>
        </ul>
    </div>
</div>
<a id="css"></a>
<div class="de-title">CSS样式包</div>
<div class="de-demo-code">
	<pre><code class="html">&lt;!--kissui.panel.css--&gt;</code></pre>
</div>
<a id="basic"></a>
<div class="de-title">基本样式</div>
<div class="de-demo-wrap">
	 <div class="ks-panel">
      <div class="ks-panel-title">
        <h4>通用面板 <strong class="small-text">带工具图标的面板</strong></h4>
        <div class="tool">
          <a href="javascript:void(0);" class="icon1"></a>
          <a href="javascript:void(0);" class="icon2"></a>
          <a href="javascript:void(0);" class="icon3 last"></a>
        </div>
      </div>
      <div class="ks-panel-con">
        <strong>KISSUI2.0</strong>
        <p>一款基于jQuery的优雅简洁的前端组件库</p>
      </div>
      <div class="ks-panel-footer">面板Footer</div>
  </div>
  <div class="ks-panel">
    <div class="ks-panel-title">
      <i class="title-icon icon1"></i>默认
    </div>
    <div class="ks-panel-con">
      <strong>KISSUI2.0</strong>
      <p>一款基于jQuery的优雅简洁的前端组件库</p>
    </div>
  </div>
</div>
<a id="scene"></a>
<div class="de-title">场景应用</div>
<div class="de-demo-wrap">
   <div class="ks-panel ks-panel-primary">
    <div class="ks-panel-title">主要</div>
    <div class="ks-panel-con">
      <strong>KISSUI2.0</strong>
      <p>一款基于jQuery的优雅简洁的前端组件库</p>
    </div>
  </div>
  <div class="ks-panel ks-panel-success">
    <div class="ks-panel-title">成功</div>
    <div class="ks-panel-con">
      <strong>KISSUI2.0</strong>
      <p>一款基于jQuery的优雅简洁的前端组件库</p>
    </div>
  </div>
  <div class="ks-panel ks-panel-info">
    <div class="ks-panel-title">消息</div>
    <div class="ks-panel-con">
      <strong>KISSUI2.0</strong>
      <p>一款基于jQuery的优雅简洁的前端组件库</p>
    </div>
  </div>
  <div class="ks-panel ks-panel-warning">
    <div class="ks-panel-title">警告</div>
    <div class="ks-panel-con">
      <strong>KISSUI2.0</strong>
      <p>一款基于jQuery的优雅简洁的前端组件库</p>
    </div>
    <div class="ks-panel-footer">面板Footer</div>
  </div>
  <div class="ks-panel ks-panel-danger">
    <div class="ks-panel-title">危险</div>
    <div class="ks-panel-con">
      <strong>KISSUI2.0</strong>
      <p>一款基于jQuery的优雅简洁的前端组件库</p>
    </div>
  </div>
</div>