<h2>开发规范</h2>
<div class="de-title">IMG命名规范</div>
<div class="de-demo-explain">均使用小写字母，每个单词用“.”分割</div>
<div class="de-title">CSS命名规范</div>
<div class="de-demo-explain">
	<p>1、为了避免与框冲突，您的CSS文件名开发版统一采用<strong>项目英文（拼音）简写.功能名.css</strong>进行命名，发布版使用<strong>项目英文（拼音）简写.功能名.min.css</strong></p>
    <p>2、为了避免与框冲突，您的标签类名采用<strong>项目英文（拼音）简写-类名</strong></p>
</div>
<div class="de-demo-explain"><span>注意</span> 在书写样式时，请尽量避免在包含框架的容器上使用全局标签来设计样式，否则会出现意想不到的后果，难以调试。</div>
<div class="de-title">JS命名规范</div>
<div class="de-demo-explain">
	<p>1、开发版统一采用<strong>功能名.js</strong>进行命名，发布版使用<strong>功能名.min.js</strong></p>
    <p>2、类名和方法名符合通用的JS开发规范即可</p>
</div>